<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178812262467-ta3l814smovqdkdv53or6kjmhijh7eas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178812262467-ta3l814smovqdkdv53or6kjmhijh7eas</string>
	<key>API_KEY</key>
	<string>AIzaSyACV4U-aU4UC0VZX8gTpHIYGuZrKWTToO8</string>
	<key>GCM_SENDER_ID</key>
	<string>178812262467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aldoSaavedra.Veterinaria</string>
	<key>PROJECT_ID</key>
	<string>veterinaria-alexander</string>
	<key>STORAGE_BUCKET</key>
	<string>veterinaria-alexander.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178812262467:ios:9c96ee1736995849291cf6</string>
</dict>
</plist>